@model Delivery.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="container p-3 my-3 border">
    <h1>Детали заказа</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SendersCity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SendersCity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.SendersAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SendersAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RecipientCity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RecipientCity)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.RecipientAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.RecipientAddress)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.CargoWeight)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.CargoWeight)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.DatePickup)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.DatePickup)
        </dd>
    </dl>
    <div>
        <a class="btn btn-danger" asp-action="Index">Вернуться</a>
    </div>
</div>

@* @model Delivery.Web.Models.OrderViewModel
@{
    string title = "View Order " + ViewData["Id"];
    ViewData["Title"] = title;
}

<h2>Детали заказа</h2>

@if (Model is null)
{
    <div>Заказ не найден</div>
}
else
{
    <div>
        <dl class="dl-horizontal">
            <dt>Идентификатор</dt>
            <dd>@Model.Id</dd>
            <dt>Город отправителя</dt>
            <dd>@Model.SendersCity</dd>
            <dt>Адрес отправителя</dt>
            <dd>@Model.SendersAddress</dd>
            <dt>Город получателя</dt>
            <dd>@Model.RecipientCity</dd>
            <dt>Адрес получателя</dt>
            <dd>@Model.RecipientAddress</dd>
            <dt>Вес груза</dt>
            <dd>@Model.CargoWeight</dd>
            <dt>Дата забора груза</dt>
            <dd>@Model.DatePickup</dd>
        </dl>
    </div>

    <a asp-controller="Order" asp-action="Index">Вернуться к списку заказов</a>
    <br />
    <br />

    <div class="btn-group">
        <a asp-controller="Order" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Редактировать</a>
        <form asp-controller="Order" asp-action="Delete" method="post" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-danger ms-3">Удалить</button>
        </form>
    </div>
}


 *@