@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Orders";
}

<h2>Список заказов</h2>

<p style="text-align:right;">
    <a class="btn btn-outline-primary" asp-asp-controller="Order" asp-action="Add">Создать новый заказ</a>
</p>

@if (Model is null)
{
    <div>Заказы не найдены</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SendersCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SendersAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipientCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecipientAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CargoWeight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePickup)
                </th>                
                <th></th>
                <th>Редактирование</th>
                <th>Удаление</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(order.Id.ToString(), "Details", new { id = order.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.SendersCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.SendersAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.RecipientCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.RecipientAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.CargoWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.DatePickup)
                    </td>
                    <td>
                    <td class="text-center">
                        <a asp-controller="Order" asp-action="Edit" class="btn btn-outline-primary" asp-route-Id="@order.Id">Редактировать</a>
                    </td>
                    <td class="text-center">
                        <form asp-controller="Order" asp-action="Delete" method="post" asp-route-id="@order.Id">
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
