@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Order";
}

<h2>Список заказов</h2>

<a asp-controller="Order" asp-action="Create">
    <i class="btn-light">
        Создать новый заказ
    </i>
</a>

@if (Model is null)
{
    <div>Заказы не найдены</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Город отправителя</th>
                <th>Адрес отправителя</th>
                <th>Город получателя</th>
                <th>Адрес получателя</th>
                <th>Вес груза</th>
                <th>Дата забора груза</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(order.Id.ToString(), "ViewOrder", new { id = order.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.SendersCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.SendersAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.RecipientCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.RecipientAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.CargoWeight)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.DatePickup)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
